.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 5px 16px;
  
    &__button_mobile {
      display: none;
    }
  
    &__button_desktop {
      display: block;
    }
  }
  
  .content {
    justify-content: center;
    padding: 0 16px;
  }
  
  // Адаптивность для мобильных устройств
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      padding: 10px;
  
      &__button_mobile {
        display: block;
      }
  
      &__button_desktop {
        display: none;
      }
    }
  
    .content {
      justify-content: flex-start;
      padding: 0;
    }
  }
  