@import 'src/styles/colors';

.app {
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: 64px 1fr;
  grid-gap: 10px;
  background: #f2f2f2;

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }
}
