.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 0px;
  height: 64px;
  background-color: #2196f3;
  box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.04);
  border-bottom: 1px solid #e6e3e3;

  &__logo {
    display: flex;
    justify-content: center; /* Центрируем логотип на мобильных */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    svg {
      width: 120px;
    }

    @media (min-width: 768px) {
      justify-content: flex-start; /* Логотип слева на десктопе */
      position: static;
      transform: none;
    }
  }

  &__bar {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
      display: none; /* Скрываем навигацию на мобильных */
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }
}

.burger_container {
  display: none; /* Скрываем бургер на десктопе */

  @media (max-width: 768px) {
    display: block; /* Показываем бургер на мобильных */
    position: relative;
    z-index: 10;
  }
}

.mobile_menu {
  .ant-drawer-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.drawer_toggle_group {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.drawer_toggle_button {
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  text-align: left;
  color: #333;  // Основной цвет текста для обычных вкладок
  background-color: transparent;  // Обычный фон для вкладок
  
  &:hover {
    background-color: #f0f0f0;  // Цвет фона при наведении
  }

  /* Стили для активной вкладки */
  &.active_tab {
    background-color: #1890ff;  // Темно-синий фон для активной вкладки
    color: #fff;  // Белый текст для контраста с темным фоном
    font-weight: bold;
  }
}

.drawer_logout {
  padding: 20px;
  text-align: left;
  margin-top: auto;
}

/* Скрываем кнопку Logout в мобильной версии */
@media (max-width: 768px) {
  .drawer_logout {
    display: none;
  }
}

