
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 5px 16px;

  &__button_mobile {
    display: none;
  }

  &__button_desktop {
    display: block;
  }
}

.content{
  justify-content: center;
}